#header{
    display: flex;
    
}
#footer{
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.member_resume{
    display: flex;
}

.img{
    width: 25%;
    height: 25%;
    transform: translateY(50%);
}

.statistics{
    width: 30%;
    min-width: 590px;
    position:relative;
    display: flex;
    
}

.progress{
    width: 100%;
    padding: 30px 30px 50px;
    /*background: linear-gradient(450deg,darkblue,black);*/
}

.skills:not(:last-child){
    margin-bottom: 10px;

}

.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.menu{ /*barras contorno*/
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.menu div{
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    background-color: black;
}

/*animation*/

#logros-menu{
    animation: logro-bar 2s forwards;
}

@keyframes logro-bar{
    100%{
        width: 25%;
    }
}

#juego-menu{
    animation: juego-bar 2s forwards;
}

@keyframes juego-bar{
    100%{
        width: 50%;
    }
}

#game2-logros-menu{
    animation: logro-bar2 2s forwards;
}

@keyframes logro-bar2{
    100%{
        width: 44%;
    }
}

#game2-juego-menu{
    animation: juego-bar2 2s forwards;
}

@keyframes juego-bar2{
    100%{
        width: 85%;
    }
}
