/* TABLE SETTINGS */
table{
    border-collapse: collapse;
    background-color: rgb(60, 60, 60);
    border-radius: 5px;
}

.tabletags{
    position: relative;
    top: 15px;
    width: 100%;
}

.text_description{
    position: relative;
    top: -10px;
}

.features_t{
    position: relative;
    top: -10px;
    width: 100%;
}

.tags{
    top: 20px;
    width: 100%;
    background: rgb(7,7,7);
    background: linear-gradient(90deg, rgba(195, 0, 217, 0.638) 0%, rgba(195, 0, 217, 0.315) 65%, rgba(195, 0, 217, 0.233) 100%);

}

.tdCenter{
    text-align: center;
}

th,td{
    position: relative;
    color: #fff;
}

.portada{
    position: relative;
    top: 0%;
    width: 100%;
}

.gallery{
    position: relative;
    width: 100%;

}

.logos{
    position: relative;
    width: 30px;
    height: 30px;
    left: 8px;
}


.buyGame{
    position: relative;
    top: 10px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 30px;
    background-color: rgb(196, 0, 217);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#btonBuyGame{
   position:absolute;
   top:50%;
   margin-top: -10px;
}

.price{
    display:flex;
    justify-content:space-between;
}
.rwd_table{
    position: relative;
    left: 0px;
    width: 40%;
    justify-content: center;
}

.calification_table{
    position: relative;
    right: 0%;
    width: 40%;
    justify-content:space-around;
}

/*CALIFICATION SETTINGS*/

.calification{
    position:relative;
    text-align: center;
    top: -2px;
}


#one{
    color: gold;
}

#two{
    color: gold;
}

#three{
    color: gold;
}

.slidershow{
    width: 100%;
    /*height: 400px;*/
    overflow: hidden;
}

.middle{
    position:relative;
    top: 0%;
    left: 0%;
}

.navigation{
    position:relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    /*height: 100%;*/
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}

.game_box_sale{
    position: relative;
    display:inline-flex;
    width: 100%;
    
}

.dlc_info{
    position: relative;
}
.dlc_img{
    position: relative;
    height: 100%;
    width: 90%;
    
}

.game_description{
    position: relative;
    width: 105%;
    background-color: rgb(60, 60, 60);
}

.text_description{
    margin-left: 10px;
}

.sale_price{
    position: absolute;
    width: 100px;
    height: 30px;
    z-index: 1;
    bottom: -12px;
    right: 0%;
    border-radius: 15px;
    background-color: #c400d9;
    display: flex;
    justify-content: center;
}

#btnBuy{
    position:relative;
    top: -35%;
}


/* INTERACTABLE STARS*/

/*.star-01:hover, .star-02:hover, .star-03:hover, .star-04:hover, .star-05:hover{
    -webkit-transition:all .3s ease-in-out;
    transition:.3s ease-in-out; 
    color:gold;
  }
  #five:hover ~ a.star{
    -webkit-transition:all .3s ease-in-out;
    transition:.3s ease-in-out; 
    color:gold;
  }
  #four:hover ~ a.star{
    -webkit-transition:all .3s ease-in-out;
    transition:.3s ease-in-out; 
    color:gold;
  }
  #three:hover ~ a.star{
    -webkit-transition:all .3s ease-in-out;
    transition:.3s ease-in-out; 
    color:gold;
  }
  #two:hover ~ a.star{
    -webkit-transition:all .3s ease-in-out;
    transition:.3s ease-in-out; 
    color:gold;
  }
  #one:hover ~ a.star{
    -webkit-transition:all .3s ease-in-out;
    transition:.3s ease-in-out; 
    color:gold;
  }*/





