h1{
    font-family: 'chillax-Bold';
    text-align: center;
}

h3{
    font-family: 'Chillax-Medium';
    text-align: center;
}

h4{
    font-family: 'Chillax-Semibold';
}

h5{
    font-family: 'Chillax-Medium';
}

p{
    font-family: 'Chillax-Regular';
}


/* TABLE SETTINGS */
table{
    border-collapse: collapse;
    background-color: rgb(60, 60, 60);
    border-radius: 5px;
}

.tabletags{
    position: relative;
    top: 15px;
    width: 100%;
}

.text_description{
    position: relative;
    top: -10px;
}

.features_t{
    position: relative;
    top: -10px;
    width: 100%;
}

.tags{
    top: 20px;
    width: 100%;
    background: rgb(7,7,7);
    background: linear-gradient(90deg, rgba(195, 0, 217, 0.638) 0%, rgba(195, 0, 217, 0.315) 65%, rgba(195, 0, 217, 0.233) 100%);

}

.tdCenter{
    text-align: center;
    font-family: 'Chillax-Regular';
}

th,td{
    position: relative;
    color: #fff;
}

.portada{
    position: relative;
    top: 0%;
    width: 100%;
}

.gallery{
    position: relative;
    width: 100%;

}

.logos{
    position: relative;
    width: 30px;
    height: 30px;
    left: 8px;
}

.textBuy{
    font-family: 'Chillax-Semibold';
    position: relative;
}

#btonBuyGame{
    position: relative;
    top: 10px;
    width: 100%;
    height: 40px;
    background-color: rgb(26, 147, 24);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.price{
    display:flex;
    justify-content:space-between;
}

.prices{
    font-family: 'Chillax-Medium';
}

.rwd_table{
    position: relative;
    left: 0px;
    width: 47%;
    height: 35px;
    justify-content: center;
}

.calification_table{
    position: relative;
    right: 0%;
    width: 47%;
    height: 35px;
    justify-content:space-around;
}

/*CALIFICATION SETTINGS*/

.calification{
    position:relative;
    text-align: center;
    top: -2px;
}

#one{
    color: gold;
    
}

#two{
    color: gold;
}

#three{
    color: gold;
}

.slidershow{
    width: 100%;
    /*height: 400px;*/
    overflow: hidden;
}

.middle{
    position:relative;
    top: 0%;
    left: 0%;
}

.navigation{
    position:relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    /*height: 100%;*/
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}

.game_box_sale{
    position: relative;
    display:inline-flex;
    width: 100%;
    
}

.dlc_info{
    position: relative;
}
.dlc_img{
    position: relative;
    height: 75%;
    width: 90%;
}

.game_description{
    position: relative;
    width: 105%;
    background-color: rgb(60, 60, 60);
}

.text_description{
    margin-left: 10px;
}

.sale_price{
    position: absolute;
    z-index: 1;
    right: 0%;
    border-radius: 15px;
    background-color: #c400d9;
    display: flex;
    justify-content: center;
}

#btnBuy{
    position:relative;
    font-family: 'Chillax-Medium';
}
@media only screen and  (min-width: 320px) and (max-width: 540px){
    .desktop{
        display: none;
    }
    h1{
        font-size: 22px;
    }
    
    h3{
        font-size: 20px;
    }

    
    h5{
        font-size: 18px;
    }
    
    p{
        font-size: 16px;
    }

    .textBuy{
        font-size: 25px;
    }

    #btnBuy{
        top: 15%;
        font-size: 15px;
    }

    .sale_price{
        width: 100px;
        height: 30px;
        bottom: -12px;
    }

    .tdCenter{
       font-size: 16px;
    }

    .dlc_img{
        top:15%;
    }

    .calification{
        font-size: 20px;
    }

}
@media only screen and (min-width: 541px) and (max-width: 1024px){ 
    .desktop{
        display: none;
    }

    h1{
        font-size: 30px;
    }
    
    h3{
        font-size: 28px;
    }
    
    h5{
        font-size: 25px;
    }
    
    p{
        font-size: 22px;
    }

    .textBuy{
        font-size: 30px;
    }

    #btnBuy{
        top: -5%;
        font-size: 25px;
    }

    .sale_price{
        width: 180px;
        height: 30px;
        bottom: -12px;
    }

    .tdCenter{
        font-size: 20px;
     }
 
     .dlc_img{
        height: 100%;
        width: 90%;
     }
 
     .calification{
        font-size: 25px;
     }

}
@media only screen and (min-width: 1025px){
    .mobile_tablet{
        display: none;
    }
    h1{
        font-size: 40px;
    }
    
    h3{
        font-size: 28px;
    }
    
    h5{
        font-size: 25px;
    }
    
    p{
        font-size: 22px;
    }

    .textHeader{
        font-family: 'Chillax-Medium';
        font-size: 18px;
    }

    .logo{
        position: relative;
        height: 50px;
    }

    #menuHead{
        position: relative;
        width: 88.5%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        left: 5.7%;
        margin-top: 20px;
    }
    
    header{
        height: 75px;
    }

    .leftMenu{
        position: relative;
        width: 65%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .rightMenu{
        position: relative;
        width: 30%;
    }

    .btonHead{
        position: absolute;
        height: 23px;
        width: 130px;
        z-index: 1;
        font-family: 'Chillax-Medium';
        font-size: 14px;
        background-color: #c400d9;
        border-radius: 5px;
        text-align: center;
    }

    #downloadSteam{
        top: 35px;
        margin-left: 30px;
        font-size: 12px;
    }

    .reg{
        margin-top: 15px;
        right: 0%;
    }

    #logInSteam{
        right: 0%;
        bottom: 0%;
    }

}



/* INTERACTABLE STARS*/

/*.star-01:hover, .star-02:hover, .star-03:hover, .star-04:hover, .star-05:hover{
    -webkit-transition:all .3s ease-in-out;
    transition:.3s ease-in-out; 
    color:gold;
  }
  #five:hover ~ a.star{
    -webkit-transition:all .3s ease-in-out;
    transition:.3s ease-in-out; 
    color:gold;
  }
  #four:hover ~ a.star{
    -webkit-transition:all .3s ease-in-out;
    transition:.3s ease-in-out; 
    color:gold;
  }
  #three:hover ~ a.star{
    -webkit-transition:all .3s ease-in-out;
    transition:.3s ease-in-out; 
    color:gold;
  }
  #two:hover ~ a.star{
    -webkit-transition:all .3s ease-in-out;
    transition:.3s ease-in-out; 
    color:gold;
  }
  #one:hover ~ a.star{
    -webkit-transition:all .3s ease-in-out;
    transition:.3s ease-in-out; 
    color:gold;
  }*/





