*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 0;
  padding:180px 30px 0px;
  background: rgb(7,7,7);
  background: linear-gradient(180deg, rgba(7,7,7,1) 0%, rgba(7,7,7,1) 65%, rgba(55,55,55,1) 100%);
  margin: 0%;
  height: 100%;
}
.header{
  background-color: rgb(2, 2, 2);
 height: 150px;
 width: 100%;
 position: fixed;
 align-items:center;
 top: 0;
 left: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 992px;
  height: 150px;
  width: 100%;
}
.nav a{
  text-decoration: none;
}
.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 150px;
  text-transform: uppercase;
  width: max-content;
  margin-top: 50px;

}
.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
  transition: background-color 0.2s;
  color: white;
}
.text_img{
  position: absolute;
  bottom: 20px;
  left: 100px;
  font-size: 35px;
  text-align: center;
  color: white;
}
.nav-menu-link:hover
,.nav-menu-link_active{
  background-color: rgba(87, 87, 87, 0.685)

}
.icon{
  right: 50%;
}
.Steam-Icon{
  margin-left: 32px;
  margin-right: 32px;
  line-height: 150px;
}

.menu-bar{
  width: 100px;
  padding: 0 20px;
  line-height: 130px;
  margin-right: 20px;
  display: none;
}
.main{
text-align: center;

}
.divs_row{
  margin: 0 auto;
  margin-bottom: 80px;
  margin-left: 16px;
  margin-right: 16px;
  display: inline-block;
  text-align: center;
}
.img_menu{
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  position: relative;
}
.menu-imgs{
  width: 300px;
  height: 300px;
  display: inline;
}

.menu-imgs_large{
  width: 655px;
  height: 300px;
  display: inline;
}


@media(max-width: 1000px){

body{
  padding:180px 30px 0px;
}
.header{
  height: 146px;
}

.title{
  flex:1;
  text-align: center;
  font-size: 70px;
  width: 500px;
}
.Steam-Icon{
  margin-left: 325px;
  margin-right: 25px;
  line-height: 130px;
  width: 300px;
  left: 20%;
}

.nav-menu{
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  background-color: rgba(87, 87, 87, 0.685);
  position: fixed;
  left: 0;
  top:130px;
  width: 100%;
  padding: 20px 0;
  height: 2000px;
  overflow-y: auto;

  left:100%;
  transition: left 0.5s;
}
.nav-menu-item{
 line-height: 70px;

}
.nav-menu-link{
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav-menu-link:hover
,.nav-menu-link_active{
  background:none;
  color: rgba(83, 155, 221, 0.753);
}
.menu-bar{
  display: block;
}
.menu-bar_visible{
  left: 0%;
}

}