*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 0;
  padding:180px 30px 0px;
  background: rgb(7,7,7);
  background: linear-gradient(180deg, rgba(7,7,7,1) 0%, rgba(7,7,7,1) 65%, rgba(55,55,55,1) 100%);
  margin: 0%;
  height: 100%;
}
.main{
  position: relative;
  z-index: -1;
}
.main-behind{
  position: relative;
  z-index: 0;
}
.header{
  background-color: rgb(2, 2, 2);
 height: 150px;
 width: 100%;
 position: fixed;
 align-items:center;
 top: 0;
 left: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 992px;
  height: 150px;
  width: 100%;
}
.nav a{
  text-decoration: none;
}
.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 150px;
  text-transform: uppercase;
  width: max-content;
  margin-top: 50px;

}
.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
  transition: background-color 0.2s;
  color: white;
}

.nav-menu-link:hover
,.nav-menu-link_active{
  background-color: rgba(87, 87, 87, 0)

}
.icon{
  right: 50%;
}
.Steam-Icon{
  margin-left: 32px;
  margin-right: 32px;
  line-height: 150px;
}

.menu-bar{
  width: 100px;
  padding: 0 20px;
  line-height: 130px;
  margin-right: 20px;
  display: none;
  transition: opacity 0.15s;
}
.menu-bar:active{
  opacity: 0.7;
}
.main{
text-align: center;

}
.divs_row{
  margin: 0 auto;
  margin-bottom: 80px;
  margin-left: 16px;
  margin-right: 16px;
  display: inline-block;
  text-align: center;
}
.img_menu{
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  position: relative;
  text-align: center;
}
.menu-imgs{
  width: 300px;
  height: 300px;
  display: inline;
  transition: opacity 0.15s;
}
.menu-imgs:hover{
  opacity: 0.7;
}
.menu-imgs_large{
  width: 655px;
  height: 300px;
  display: inline;
}
.text_img{
  position: absolute;
  font-size: 35px;
  color: white;
  top: 60%;
  width: 100%;
  text-align: center;

}
.chat{
  position: relative;
}
.chat-btn{
  bottom: 20px;
  width: 180px;
  height: 180px;
  position: fixed;
  bottom: 5%;
}
.chat-btn:active{
  opacity: 0.5;
}

.chat-shown{
  width: 0%;
  max-width: 800px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  visibility: visible;
  left: 0px;
  opacity: 1;
  transition: all 600ms;
}
.chat-hidden{
  width: 100%;
  max-width: 800px;
  height: 500px;
  position: fixed;
  display: flex;
  visibility: hidden;
  left: 100px;
  opacity: 0;
  transition: all 600ms;

}
.chat-btn:active.chat-box{
  opacity: 1;
  visibility: visible;
}
.popup{
  height: 800px;
  width: 80%;
  max-width: 900px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 30%;
  left: 10%;
  background-color: rgb(22, 22, 22);
  transition: all 600ms;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 20px rgba(247, 0, 255, 0.2);
  
}
.chat-box-header{
  color: white;
  margin-top: 30px;
  font-size: 50px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 20px;
}
.chat-box-toggle{
  background-color: gray;
  font-size: 30px;
  height: 50px;
  padding: 20px;
  padding-bottom: 5px;
  font-weight: 50px;
  position: absolute;
  top: -100%;
  margin-left: 400px;
}
.chat-input{
  margin-top: 450px;
  border-style: none;
  display:inline;
  margin: 20px;
  width: 70%;
  font: 20px;
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  border-color: rgb(196, 0, 217);
  outline: none;
}
.chat-input:focus{
  box-shadow: 0 0 10px rgb(196, 0, 217);
}
.chat-submit{
  border-radius: 5px;
  background-color: rgb(196, 0, 217);
  color: white;
  border-style: none;
  padding: 10px;
  font-size: 30px;
  margin-left: 20px;
}
.chat-field{
  margin-left: 40px;
  height: 100%;
  width: 670px;
  border-radius:10px;
  background-color:  rgba(255, 255, 255, 0.158);
}
.form{
  margin: auto;
  align-content: flex-end;
  width: 90%;
  bottom: 0%;
  margin-top: 20px;
}
@media(max-width: 1000px){

}
@media only screen and  (min-width: 320px) and (max-width: 540px){
}
@media only screen and (min-width: 541px) and (max-width: 1024px){ 
  
body{
  padding:180px 30px 0px;
}
.header{
  height: 146px;
}

.title{
  flex:1;
  text-align: center;
  font-size: 70px;
  width: 500px;
}
.Steam-Icon{
  margin-left: 325px;
  margin-right: 25px;
  line-height: 130px;
  width: 300px;
  left: 20%;
}

.nav-menu{
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  background-color: rgba(87, 87, 87, 0.685);
  position: fixed;
  left: 0;
  top:130px;
  width: 100%;
  padding: 20px 0;
  height: 2000px;
  overflow-y: auto;

  left:100%;
  transition: left 0.5s;
}
.nav-menu-item{
 line-height: 70px;
 position: relative;
 z-index: 1000;
}
.nav-menu-link{
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu-imgs{
  z-index: 0;
}


.nav-menu-link:hover
,.nav-menu-link_active{
  background:none;
  color: rgba(83, 155, 221, 0.753);
}
.menu-bar{
  display: block;
}
.menu-bar_visible{
  position: fixed;
  left: 0%;
  z-index: 3;
}

}
@media only screen and (min-width: 1025px){
}
