@font-face {
  font-family: 'Chillax-Variable';
  src: url('../fonts/Chillax-Variable.woff2') format('woff2'),
       url('../fonts/Chillax-Variable.woff') format('woff'),
       url('../fonts/Chillax-Variable.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Extralight';
  src: url('../fonts/Chillax-Extralight.woff2') format('woff2'),
       url('../fonts/Chillax-Extralight.woff') format('woff'),
       url('../fonts/Chillax-Extralight.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Light';
  src: url('../fonts/Chillax-Light.woff2') format('woff2'),
       url('../fonts/Chillax-Light.woff') format('woff'),
       url('../fonts/Chillax-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Regular';
  src: url('../fonts/Chillax-Regular.woff2') format('woff2'),
       url('../fonts/Chillax-Regular.woff') format('woff'),
       url('../fonts/Chillax-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Medium';
  src: url('../fonts/Chillax-Medium.woff2') format('woff2'),
       url('../fonts/Chillax-Medium.woff') format('woff'),
       url('../fonts/Chillax-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Semibold';
  src: url('../fonts/Chillax-Semibold.woff2') format('woff2'),
       url('../fonts/Chillax-Semibold.woff') format('woff'),
       url('../fonts/Chillax-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Bold';
  src: url('../fonts/Chillax-Bold.woff2') format('woff2'),
       url('../fonts/Chillax-Bold.woff') format('woff'),
       url('../fonts/Chillax-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

#leaderboard{
    position:relative;
    width: 90%;
    /*height:896px;*/
    top: 30px;;
    left: 5%;
    /*border:1px solid grey;*/
    margin:0;
    overflow:hidden;
    /*background: #002B54;*/
    overflow-y: scroll;
    
  }

  a{
    color: #f2f5f4;
    font-family: 'Chillax-Semibold';
  }

  .regresar{
    position: relative;
    height: 32px;
  }

  .logo{
    position: relative;
    height: 32px;

  }

  .menu_bar{
    position: relative;
    height: 32px;
  }

  body{
    
    background: linear-gradient(180deg, rgba(7,7,7,1) 0%, rgba(7,7,7,1) 65%, rgba(55,55,55,1) 100%);
  }

  header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 55px;
  }

  #menu_header{
    position: relative;
    width: 88.5%;
    height: 50px;
    margin: 0%;
    display: flex;
    left: 5.7%;
  }

  .izq{
    position: absolute;
    left: 0%;
  }

  .center{
    position: absolute;
    left: 50%;
    margin-left: -50px;
  }

  .der{
    position: absolute;
    right: 0%;
  }

  #leaderboard::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }

  /*#menu_header{
    height:50px;
    width: 100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    left: 0px;
    margin-top: 10px;
    background-color: blue;
    background: rgb(7,7,7);
  }*/

  .enlace{
    display:inline-block;
    color: #f2f5f4;;
    text-decoration:none;
    line-height:45px;
  }

  h1{
    color: #f2f5f4;
  }

  h2{
    color: #f2f5f4;
  }

  h3{
    color: #f2f5f4;
  }

  h5{
    color:#f2f5f4;
  }

  p{
    color: #f2f5f4;
  }
  