#leaderboard{
    position:relative;
    width: 90%;
    /*height:896px;*/
    top: 30px;;
    left: 5%;
    /*border:1px solid grey;*/
    margin:0;
    overflow:hidden;
    /*background: #002B54;*/
    overflow-y: scroll;
    
  }

  a{
    color: #f2f5f4;
  }

  .regresar{
    position: relative;
    height: 32px;
    right: 40%;
  }

  .logo{
    position: relative;
    height: 32px;

  }

  .menu_bar{
    position: relative;
    height: 32px;
    left: 30%;
  }

  body{
    
    background: linear-gradient(180deg, rgba(7,7,7,1) 0%, rgba(7,7,7,1) 65%, rgba(55,55,55,1) 100%);
  }

  header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
  }

  #leaderboard::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }

  #menu_header{
    height:50px;
    width: 100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    left: 0px;
    margin-top: 10px;
    background-color: blue;
    background: rgb(7,7,7);
  }

  .enlace{
    display:inline-block;
    color: #f2f5f4;;
    text-decoration:none;
    line-height:45px;
  }

  h1{
    color: #f2f5f4;
  }

  h2{
    color: #f2f5f4;
  }

  h3{
    color: #f2f5f4;
  }

  h5{
    color:#f2f5f4;
  }

  p{
    color: #f2f5f4;
  }
  