*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 0;
  padding:180px 30px 0px;
  text-align: center;
}
.header{
  background-color: gray;
 height: 150px;
 width: 100%;
 position: fixed;
 align-items:center;
 top: 0;
 left: 0;
}

.title{
  flex:1;
  text-align: center;
  font-size: 70px;
  width: 600px;
  font-size: 60px;
  margin-left: 30px;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 992px;
  height: 150px;
  width: 100%;
}
.nav a{
 color : black;
  text-decoration: none;
}
.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 150px;
  text-transform: uppercase;
  width: max-content;

}
.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
  transition: background-color 0.2s;
}
.nav-menu-link:hover
,.nav-menu-link_active{
  background-color: rgba(87, 87, 87, 0.685)

}

.icon{

}
.Steam-Icon{
  width: 120px;
  height: 120px;
  margin-left: 32px;
  margin-right: 32px;
  line-height: 150px;
}

.menu-bar{
  width: 200px;
  padding: 0 20px;
  line-height: 130px;
  display: none;
}
.profile{

  font-size: 30px;
  display: flex;
  align-items: center;
  margin: 20px 20px 20px;
  justify-content: center;
  flex-direction: column;
}
.user_name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  min-width: 800px;
  left: 50%;
}
.bio_part{
}
.bio_part p{
  vertical-align: top;
  text-align: left;
  margin-top: 0px;
}
.bio{
  font-size: 20px;
  width: 400px;
  height: 200px;
  border-style: solid;
  text-align: left;
  vertical-align: top;
  border-radius: 10px;
}
.profile_pic img{

  width: 300px;
  height: 300px;

}
.fav_games{

}
.p_fav{
  font-size: 40px;
  font-weight: bold;
}
.img_fav,.img_ach{
  width: 250px;
  height: 180px;
  margin-left: 10px;
}
@media(max-width: 1000px){

  body{
    padding:180px 30px 0px;
  }
  .header{
    height: 146px;
  }
  
  .title{
    flex:1;
    text-align: center;
    font-size: 70px;
    width: 500px;
  }
  .Steam-Icon{
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 130px;
  }
  
  .nav-menu{
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: rgba(87, 87, 87, 0.685);
    position: fixed;
    left: 0;
    top:130px;
    width: 100%;
    padding: 20px 0;
    height: 2000px;
    overflow-y: auto;
  
    left:100%;
    transition: left 0.5s;
  }
  .nav-menu-item{
   line-height: 70px;
  }
  .nav-menu-link{
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nav-menu-link:hover
  ,.nav-menu-link_active{
    background:none;
    color: rgba(83, 155, 221, 0.753);
  }
  .menu-bar{
    display: block;
  }
  .menu-bar_visible{
    left: 0%;
  }
  
  }