  body {
    background: black;
  }
  #Info{
    font-family: system-ui;
    text-align: center; 
    color: white; 
    margin: auto; border: 3px solid green;

  }
  .steamlogo {
    width: 392px;
  }
  .Fills{
    font-family: system-ui;
    margin: auto; border: 3px solid green;
  }
  input::placeholder{
    color: white;
  }
  .FillText{
    background-color: grey; border: none; color: white;
  }
  .FillPassword{
    background-color: grey; border: none; color: white;
  }
  .container {
    width: 175px; position: relative; margin: auto;
  }
  .container img {
    width: 100%; height: 150px; max-width: 1000px;
  }
  .container .btn {
    margin: auto;
    font-family: system-ui;
    font-size: large; 
    position: absolute; top: 47.5%; left: 50%;
    transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);
    background-color: transparent; color: white;
    border: none;
  }
  @media only screen and  (min-width: 320px) and (max-width: 540px){
  }
  @media only screen and (min-width: 541px) and (max-width: 1024px){ 
  }
  @media only screen and (min-width: 1025px){
  }