#Header {
    font-family: system-ui;
    background: black;
    color: white;
    text-align: center;
    margin:auto;
  }
  body {
    background: black;
  }
  #Info{
    text-align: center; font-family: system-ui; color: white;
  }
  .steamlogo {
    height: 5%; width: 5%;
  }
  .btnSign {
    background: white; text-decoration:none;
    color: black; font-family: system-ui;
  }